.baixe-app {
  display: flex;
  font-family: "Roboto Mono", sans-serif;
  font-weight: bolder;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.889);
  color: #fff;
  width: 150px;
  border: none;
  height: 50px;
  border-radius: 15px;
  font-size: 1.0em;
  cursor: pointer;
}

.baixe-app p {
  margin-top: 12px;
  margin-left: 10px;
}

.baixe-app img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
/* ajustar
@media only screen and (max-width: 1312px) {
  .baixe-app {
      width: 120px;
      height: 40px;
      font-size: 11px;
      margin-top: 50px;
  }

  .baixe-app img {
      margin-top: 5px;
      width: 25px;
      height: 25px;
  }

  .baixe-app p {
      margin-top: 10px;
  } */

@media only screen and (max-width: 1212px) {
      .baixe-app {
          display: none;
      }          
  }
/* } */