.hamburger-menu-icon {
    display: none;
}

@media only screen and (max-width: 1212px) {
    .hamburger-menu-icon {
        display: flex;
        align-self: center;
        margin-right: 25px;
        width: 100px;
        height: 100px;
    }
}