.sidebar {
    display: none;
}

.sidebar-menu {
    display: none;
}
  
.sidebar-menu li {    
    display: none;
}  

@media only screen and (max-width: 1212px) {
    .sidebar {
        right: 0;
        height: 100vh;
        width: 800px;
        color: white;
        background-color: black;
    }
      
    .sidebar-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
      
      .sidebar-menu li {    
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }          
}