.sidebar {
    display: none;
}

.sidebar-menu {
    display: none;
}
  
.sidebar-menu li {    
    display: none;
}  

@media only screen and (max-width: 1212px) {
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 1212px;
        color: black;
        background-color: white;
        z-index: 4;
        display: block;
    }
    
    .cabecalho-sidebar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-open {
        left: 0;
    }
    
    .sidebar-closed {
        left: -1212px;
    }

    .logo-ubuntu {
        margin-left: 20px;
        width: 200px;
        height: 200px;
    }

    .fechar-btn {
        background-color: transparent;
        border: none;
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .fechar-btn span {
        color: red;
        font-size: 7em;
    } 

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 35px;
    }

    .sidebar-menu li {
        padding: 20px;
        display: flex;
        font-size: 30px;
    }
}