.sidebar {
    display: none;
}

.sidebar-menu {
    display: none;
}
  
.sidebar-menu li {    
    display: none;
}  

@media only screen and (max-width: 1212px) {
    .sidebar {
        position: fixed;
        top: 0;
        margin: 0;
        right: 0;
        height: 100%;
        width: 1212px;
        color: black;
        background-color: white;
        z-index: 4;
        display: block;
    }

    .sidebar-items {
        display: flex;
        align-self: center;
        list-style-type: none;
    }
      
    .elemento {
        text-decoration: none;
        color: black;
        font-family: "Roboto Mono", sans-serif;
    }
    
    .cabecalho-sidebar {
        display: flex;
        margin-top: 35px;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-open {
        left: 0;
    }
    
    .sidebar-closed {
        left: -1212px;
    }

    .logo-ubuntu {
        margin-left: 20px;
        width: 150px;
        height: 150px;
        mix-blend-mode: multiply;
    }

    .fechar-btn {
        background-color: transparent;
        border: none;
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .fechar-btn span {
        color: red;
        font-size: 7em;
    } 

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 35px;
    }

    .sidebar-menu li {
        padding: 20px;
        display: flex;
        font-size: 30px;
    }

    .sidebar-menu li a {
        text-decoration: none;
        color: black;
    }

    .accordion_item {
        /* margin-bottom: 10px; */
        display: flex;
        flex-direction: column;
      }
      
    .button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f0f0f0;
        border: none;
        padding: 10px;
        font-size: 35px;
        width: 100%;
    }
    
    .button:hover {
        background-color: #e0e0e0;
    }
    
    .control {
        margin-left: 5px;
        font-size: 50px;
    }
    
    .answer_wrapper {
        display: none;
    }
    
    .answer_wrapper.open {
        display: block;
    }
}