body {
  height: 100%;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr;
  padding:50px;
  width: 30vw;
  height: 70vh;
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  background: #338f4a;
  margin: 100px auto;
  text-align: center;
}
.campos{
  display: grid;
  grid-template-columns: 1fr ;
}
input {
  background-color: #dce9e0;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  font-size: 15px;
  height: 45px;
  border: none;
  padding-left: 15px;
  width: -webkit-calc(100% - 15px);
  width: -moz-calc(100% - 15px);
  width: calc(100% - 15px);
 
}
.inputEmail{
  justify-self: center ;
  align-self: center;
}

.inputSenha{
  justify-self: ;
}
