.grade-cardapio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 1900px) {
.grade-cardapio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}
@media only screen and (max-width: 1500px) {
.grade-cardapio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
@media only screen and (max-width: 1000px) {
.grade-cardapio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
@media only screen and (max-width: 800px) {
.grade-cardapio{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr ;
}
}
