.baixe-app {
  display: grid;
  font-family: "Roboto Mono", sans-serif;
  font-weight:500;
  background-color: rgba(0, 0, 0, 0.889);
  color: #fff;
  width: 90%;
  border: none;
  align-content: center;
  height: 25%;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  grid-template-columns:3fr 1fr ;
}
.baixe-app:hover{
  height: 32%;
  width: 95%;
}

.baixe-app p {

  align-self: center;
  justify-self: center;
}

.baixe-app img {
  align-self: center;
  justify-self: center;
  width: 75%;
  height: 75%;
}
