body {
    height: 100%;
  }

.formulario {
    width: 30vw;
    height: 70vh;
    opacity: .8;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 0 10px black;
       -moz-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    background: #338f4a;
    margin: 100px auto;
    text-align: center;
  }