.item-produto{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1px;
    background-color: blueviolet;
}
.informacoes-produto{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    background-color: rgb(35, 100, 22);
}
.nome-produto{
    justify-content: center;
}
.imagem-produto{
    
}
